$lightgrey: #ABB7B7;
$CARARRA: #F2F1EF;
$MADISON: #2c3e50;
$WHITE: white;
$MING: #336e7b;
$PORCELAIN: #ECF0F1;
$JELLYBEAN: #2574A9;
$HONEYFLOWER: #674172;

body {
  background-color: $CARARRA;
}

// GLOBAL
.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.glyphicon, i{
  margin: 10px;
}

.loader {
  margin-top: 50px;
}

.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
}

// GLOBAL ENDS

.profile-avatar {
  min-height: 430px;
  background-color: $MADISON;
  color: $WHITE;
  border: 1px solid $lightgrey;
  margin-bottom: 20px;
  padding-bottom: 20px;

  img {
    background-size: cover;
    background-position: center;
    width: 100%;
  }

  img.avatar{
    width: 40%;
    display:table-cell;
    vertical-align:middle;
    margin:auto;
    margin-top: -70px;
  }
}

.profile-info {
  padding: 5px 0 20px 20px;
  background-color: $MING;
  color: $WHITE;
}

small.update-profile-btn{
  margin: 10px 20px;
}


.update-profile-btn{
  cursor: pointer;
  font-size: 14px;
}

.update-profile-btn:hover{
  color: $PORCELAIN;
}

// =======

.academic_pannel, .studie_page,
.update_profile_page, .update_password_page,
.school-form, .degree-form, .mark-form {
  padding: 20px;
  margin: 0px 0 20px 0;
  background-color: $WHITE;
}

.school-form, .degree-form, .mark-form {
  border: 1px solid lightgrey;
}

.academic_pannel {
  height: 100px;
  color: $WHITE;
  border: 1px solid #F2F1EF;
  .number{
    font-size: 25px;
    font-weight: bolder;
  }
}

.academic_pannel.school{
  background-color: $MING;
}
.academic_pannel.degree{
  background-color: $JELLYBEAN;
}
.academic_pannel.mark{
  background-color: $HONEYFLOWER;
}

.studie-btn{
  font-size: 12px;
  width: 100px;
  height: 40px;
  margin: 5px;
}

.empty{
  color: $lightgrey;
  padding: 10px;
  text-align: center;
  float: left;
  width: 100%;
}

.toggle-default{
  color: $lightgrey;
  cursor: pointer;
  margin: 20px;
}

.toggle-default:hover{
  color: black;
}

.detail-button{
  cursor: pointer;
}

/*School Detail - STARTS */
.degrees-list {
  padding: 10px 0;
  margin: 0;
  list-style: none;
  overflow: hidden;

  li {
    list-style: none;
    padding-right: 10px;
    font-size: 13px;
  }

  li:first-child {
    font-weight: bolder;
  }
}

.button-group {
  padding: 10px 0;
  margin: 0;
  list-style: none;
  overflow: hidden;

  li {
    list-style: none;
    padding-right: 10px;
    float: right;
    font-size: 13px;

    button{
      height: 30px;
      width: 75px;
      font-size: 11px;
      padding: 5px;
    }
  }
}

/*School Detail - ENDS */

.degree-detail{
  @extend .degree-form;
  width: 100%;
  display: inline-block;

  .school-panel, .degree-panel{
    background-color: $MADISON;
    color: #ECECEC;
    float: left;
    width: 40%;
    min-height: 100px;
    margin: 2px;
    text-align: center;
    line-height: 100px;

    .info{
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
  }

  .degree-panel{
    width: 55%;
  }
}

th{
  vertical-align: middle !important;
  text-align: center !important;
}

td {
  @extend th;
  font-size: 13px;
}

table {
  width: 100%;
}
