/*.bio, .main_page{
  border: 1px solid black;
}*/

.bio img {
  background-size: cover;
  background-position: center;
  width: 100%;
}

.bio img.avatar{
  width: 40%;
  display:table-cell;
  vertical-align:middle;
  margin:auto;
  margin-top: -70px;
}

.bio-avatar {
  border: 1px solid lightgrey;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.bio-info {
  padding: 0 0 20px 20px;
  border: 1px solid lightgrey;
}

.glyphicon, i{
  margin: 10px;
}

.academic_pannel, .status_bar, .studie_page, .update_bio_page {
  padding: 20px;
  border: 1px solid lightgrey;
  margin: 10px 0 10px 0;
}

.status_bar p {
  margin: 0;
}

.toggle-default{
  color: lightgrey;
  cursor: pointer;
}

.toggle-default:hover{
  color: black;
}

.update-profile-btn{
  cursor: pointer;
  font-size: 14px;
}


.update-profile-btn:hover{
  color: black;
}

small.update-profile-btn{
  margin: 10px 20px;
}

.studie-btn{
  font-size: 12px;
  width: 100px;
  height: 40px;
  margin: 5px;
}

/*School Detail - STARTS */
.degrees-list {
  padding: 10px 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

.degrees-list li {
  list-style: none;
  /*float: left;*/
  padding-right: 10px;
  /*padding: 10px 15px;*/
  font-size: 13px;
}

.degrees-list li:first-child {
  font-weight: bolder;
}

.button-group {
  padding: 10px 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

.button-group li {
  list-style: none;
  padding-right: 10px;
  /*padding: 10px 15px;*/
  float: right;
  font-size: 13px;
}

.button-group li button{
  height: 30px;
  width: 75px;
  font-size: 11px;
  padding: 5px;
}

.empty{
  color: lightgrey;
  padding: 10px;
}

/*School Detail - ENDS */

td, th{
  vertical-align: middle !important;
  text-align: center !important;
}

td {
  font-size: 13px;
}

table {
  width: 100%;
}

.school-button{
  cursor: pointer;
}

.hihi{
  margin: 0;
  width: 100%;
}
